<section class="footer-social">
  <div class="row">
    <div class="col col-1 footer-social__block">
      <h3 class="footer-social__title mb-40">Социальные сети</h3>
      <div class="footer-social__links">
        <a href="#" class="footer-social__link" target="_blank">@@include('icon/social/_gplus.html')</a>
        <a href="#" class="footer-social__link" target="_blank">@@include('icon/social/_vimeo.html')</a>
        <a href="#" class="footer-social__link" target="_blank">@@include('icon/social/_fb.html')</a>
        <a href="#" class="footer-social__link" target="_blank">@@include('icon/social/_vk.html')</a>
      </div>
    </div>
    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1"></div>
  </div>
</section>
<footer class="footer">
  aeenht
</footer>
<script src="js/vendor.min.js"></script>
@@for (var i = 0; i < scripts.length; i++) {
  <script src=`+scripts[i]+`></script>
}
<script src="js/app.min.js"></script>
</div>
</body>
</html>