<header class="header header_color-green header_width-700">
  <div class="header__wrap">
    <div class="header__logo">
      <img src="img/general/logo.png" alt="Северсталь">
    </div>
    <div class="header__logo-text">
      <img src="img/general/logo-text.png" alt="Череповецкий металлургический комбинат">
    </div>
    <div class="header__nav">@@include('_main-nav.html')</div>
    <div class="header__menu">
      <div class="header__menu-icon">
        <div class="header__menu-burger"><span></span></div>
      </div>
      <span class="header__menu-text">меню</span>
    </div>
    <div class="header__search">@@include('icon/_search.html')</div>
    <div class="header__lang">
      <div class="header__lang-now">RU</div>
      <div class="header__lang-all">
        <ul class="header__lang-list">
          <li class="header__lang-item active"><a href="#" class="header__lang-link">RU</a></li>
          <li class="header__lang-item"><a href="#" class="header__lang-link">ENG</a></li>
        </ul>
      </div>
    </div>
    <div class="header__shop">@@include('_shop-link.html')</div>
  </div>
</header>