<section class="menu">
  <div class="menu__wrapper">
    <div class="laptop-lg">
      <div class="menu__back">Назад</div>
    </div>
    <div class="laptop-lg">
      <div class="menu__close">@@include('icon/_close.html')</div>
    </div>
    <div class="menu__row menu__row--border row">
      <div class="col col-1">
        <div class="menu__nav">
          <a href="#" class="menu__nav-link active">Карта сайта</a>
          <a href="#" class="menu__nav-link">Все сайты</a>
        </div>
      </div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">О компании</a>
          <a href="#" class="menu__sublink">Структура</a>
          <a href="#" class="menu__sublink">Миссия и ценности</a>
          <a href="#" class="menu__sublink">История</a>
          <a href="#" class="menu__sublink">Руководство</a>
          <a href="#" class="menu__sublink">Кодекс делового партнерства</a>
          <a href="#" class="menu__sublink">Бизнес-система</a>
        </div>
        <div class="menu__more js-menu-block hide">
          <p class="bold mb-20">Предприятия группы</p>
          <div class="menu__more-list">
            <a href="#" class="menu__sublink">Корпоративный сайт</a>
            <a href="#" class="menu__sublink">Череповецкий металлургический комбинат</a>
            <a href="#" class="menu__sublink">Северсталь Дистрибуция</a>
            <a href="#" class="menu__sublink">Ижорский трубный завод</a>
            <a href="#" class="menu__sublink">Северсталь-метиз</a>
            <a href="#" class="menu__sublink">СМЦ-Всеволожск</a>
            <a href="#" class="menu__sublink">СМЦ ЗАО «Ижорский трубный завод»</a>
            <a href="#" class="menu__sublink">Северсталь-Гонварри-Калуга</a>
            <a href="#" class="menu__sublink">Северсталь Стальные Решения</a>
            <a href="#" class="menu__sublink">ТПЗ-Шексна</a>
            <a href="#" class="menu__sublink">Сортовой завод Балаково</a>
            <a href="#" class="menu__sublink">Воркутауголь</a>
            <a href="#" class="menu__sublink">Карельский окатыш</a>
            <a href="#" class="menu__sublink">Олкон</a>
            <a href="#" class="menu__sublink">ССМ-Тяжмаш</a>
            <a href="#" class="menu__sublink">СПб-Гипрошахт</a>
            <a href="#" class="menu__sublink">Северсталь-Вторчермет</a>
            <a href="#" class="menu__sublink">КО ВНИИМЕТМАШ</a>
            <a href="#" class="menu__sublink">Центр Единого Сервиса</a>
          </div>
        </div>
      </div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">Продукция</a>
          <a href="#" class="menu__sublink">Каталог продукции</a>
          <a href="#" class="menu__sublink">Интернет - магазин</a>
          <a href="#" class="menu__sublink">Мобильный сервис </a>
          <a href="#" class="menu__sublink">Торги по сопутствующей продукции</a>
        </div>
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">Поставщикам</a>
          <a href="#" class="menu__sublink">Политика закупок</a>
          <a href="#" class="menu__sublink">Закупки</a>
          <a href="#" class="menu__sublink">Задайте вопрос</a>
          <a href="#" class="menu__sublink">SRM - Закупки </a>
          <a href="#" class="menu__sublink">Обращения</a>
        </div>
      </div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">Персонал</a>
          <a href="#" class="menu__sublink">Кадровая политика</a>
          <a href="#" class="menu__sublink">Привлечение новых сотрудников</a>
          <a href="#" class="menu__sublink">Развитие и обучение персонала</a>
          <a href="#" class="menu__sublink">Вакансии</a>
          <a href="#" class="menu__sublink">Социальные льготы и&nbsp;гарантии</a>
          <a href="#" class="menu__sublink">Работа с молодежью</a>
        </div>
        <div class="menu__more js-menu-block hide">
          <p class="bold mb-20">Другие сайты</p>
          <div class="menu__more-list">
            <a href="#" class="menu__sublink" target="_blank">news.severstal.com</a>
            <a href="#" class="menu__sublink" target="_blank">disclosure.severstal.com</a>
            <a href="#" class="menu__sublink" target="_blank">Музей металлургической промышленности</a>
            <a href="#" class="menu__sublink" target="_blank">ХК «Северсталь»</a>
            <a href="#" class="menu__sublink" target="_blank">Музеи русского севера</a>
            <a href="#" class="menu__sublink" target="_blank">Сайт рограммы «Дорога к дому»</a>
            <a href="#" class="menu__sublink" target="_blank">Агентство Городского Развития г. Череповец</a>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__row row">
      <div class="col col-1"></div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">Клиентам</a>
          <a href="#" class="menu__sublink">Качество продукции</a>
          <a href="#" class="menu__sublink">Заключение договора /контракта</a>
          <a href="#" class="menu__sublink">Претензионная работа</a>
          <a href="#" class="menu__sublink">Частые вопросы</a>
          <a href="#" class="menu__sublink">Радиационная безопасность</a>
          <a href="#" class="menu__sublink">Сертификаты</a>
          <a href="#" class="menu__sublink">Лицензии</a>
          <a href="#" class="menu__sublink">Проверка подлинности сертификата</a>
          <a href="#" class="menu__sublink">Коммерческие предложения</a>
          <a href="#" class="menu__sublink">Конференции</a>
          <a href="#" class="menu__sublink">Продажа неликвидов</a>
        </div>
      </div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20">Ответственность</a>
          <a href="#" class="menu__sublink">Социальная политика</a>
          <a href="#" class="menu__sublink">Экологическая политика</a>
          <a href="#" class="menu__sublink">Охрана труда и промышленная безопасность</a>
          <a href="#" class="menu__sublink">Качество</a>
          <a href="#" class="menu__sublink">Энергосбережение</a>
          <a href="#" class="menu__sublink">Результаты специальной оценки условий труда</a>
        </div>
      </div>
      <div class="col col-1">
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20 js-its-link">Пресс-центр</a>
        </div>
        <div class="menu__block js-menu-block">
          <a href="#" class="bold mb-20 js-its-link">Контакты</a>
        </div>
      </div>
    </div>
    <div class="laptop-lg">
      <div class="menu__mobile-nav">
        <a href="#" class="menu__nav-link active">Карта сайта</a>
        <a href="#" class="menu__nav-link">Все сайты</a>
      </div>
    </div>
  </div>
  <div class="menu__footer padding">
    @@include('_footer-content.html')
  </div>
</section>