// Цвета
$main-color: #1a1a1a;
$color-white: #fff;
$color-green: green;

// Размеры
$header-height: 90px;

// breakpoint
$screen-height: 800px;
$screen-xxl: 1920px;
$screen-xl: 1600px;
$screen-llg: 1365px;
$screen-lg: 1023px;
$screen-md: 768px;
$screen-sm: 480px;

/* точки от заказчика
1920 пикселей,
1366 пикселей,
1024 пикселя,
366 пикселей.
*/