/*
 Навигация

 section-slider
 section-promo
 section-products
 section-promotion
 section-clients
 section-presscenter
 section-response
 section-info

*/



// section-slider



.index__slider-list {
  height: 100%;
  .slick-list,.slick-track {
    height: 100%;
  }
}

.page--index{
  .header_main {
    .header__shop{
      display: none;
    }
  }
}